/**
 * Default CSS - Extension 'SAV Filter Selectors'
 *
 * @author		Yolf (yolf.typo3@orange.fr)
 * @version		0.0
 */

    .tx-savfilterselectors-pi1 LI.error {
      background-color: inherit; 
      color:red;
    }      
    .tx-savfilterselectors-pi1 DIV.container-savfilterselectors {
      float:left;
      width:100%;
      background-color: #f1fbfd; 
      color: inherit;
      border: 1px  #000099 solid; 
      margin: 0px 0px 5px 0px;
      padding: 0px;
    }    
    .tx-savfilterselectors-pi1 DIV.container-savfilterselectors UL {
      float:left;
      width:100%;
      padding: 3px;
      margin: 0px;
      list-style: none; 
    }
    .tx-savfilterselectors-pi1 DIV.container-savfilterselectors LI {
      float:left;
      background-image: none;
      padding: 0px 20px 0px 0px;
      margin: 0px;   
    } 
    .tx-savfilterselectors-pi1 DIV.container-savfilterselectors LABEL {

      font-size: 115%;
      font-weight: bold;
      padding: 3px 10px 0px 10px;
    }  
    .tx-savfilterselectors-pi1 DIV.container-savfilterselectors LI.button {
      float: right;
      padding-top: 5px;
      padding-right: 10px;
    }
    .tx-savfilterselectors-pi1 DIV.container-savfilterselectors A.aRegular {
      background-color: inherit; 
      color: #4176FF;
      text-decoration: none;
      font-weight: bold;
    }
    .tx-savfilterselectors-pi1 DIV.container-savfilterselectors A.aSelected {
      background-color: inherit; 
      color: #841212;
      text-decoration: none;
      font-weight: bold;
    }
    .tx-savfilterselectors-pi1 DIV.container-savfilterselectors A.aRegular:hover, .tx-savfilterselectors-pi1 DIV.container-savfilterselectors A.aSelected:hover {
      background-color: #fff0c0;
      color: #841212;
    }   

