/**
 * Default CSS - Extension 'SAV Filter Selectors'
 *  
 * @author	Laurent Foulloy (yolf.typo3@orange.fr)
 * @version	1.0 
 */

.tx-savfilterselectors-pi1{
  float:left;
  width:100%;
  margin-bottom:5px;  
}
.tx-savfilterselectors-pi1 .savFilter{
  float:left;
  width:100%;
  margin:0;
  padding:0;  
} 
.tx-savfilterselectors-pi1 LI.error{
  background-color:inherit; 
  color:red;
}    
.tx-savfilterselectors-pi1 .container-savfilterselectors{
  float:left;
  width:100%;
  height:auto;    
  background-color:#f1fbfd; 
  color:inherit;
  border:1px #000099 solid; 
  padding:0;
  margin:0;  
}  
.tx-savfilterselectors-pi1 .container-savfilterselectors UL{
  float:left;
  width:inherit;
  padding:0;
  margin:0;
  list-style:none;      
}
.tx-savfilterselectors-pi1 .container-savfilterselectors LI{
  float:left;
  background-image:none;
  padding:0;
  margin:0;   
  }
.tx-savfilterselectors-pi1 .container-savfilterselectors LI SELECT{
  float:left;
  margin:0 0 3px 10px;
  width:150px;     
}
.tx-savfilterselectors-pi1 .container-savfilterselectors LI INPUT{
  float:left;
  margin:0 0 3px 10px;
  width:150px;     
}
.tx-savfilterselectors-pi1 .container-savfilterselectors LI INPUT[type=text]{
  padding:2px;   
} 
.tx-savfilterselectors-pi1 .container-savfilterselectors LI INPUT[type=radio]{
  margin:0 2px 0 10px;   
} 
.tx-savfilterselectors-pi1 .container-savfilterselectors LI INPUT[type=checkbox]{
  margin:0 2px 0 10px;   
}
.tx-savfilterselectors-pi1 .container-savfilterselectors LI INPUT[type=image]{
  margin:0 2px 0 10px;
  width:12px;   
}
.tx-savfilterselectors-pi1 .container-savfilterselectors LABEL{
  display:block;
  font-size:115%;
  font-weight:bold;
  padding:0;  
  margin:1px 0 0 10px;
}  
.tx-savfilterselectors-pi1 .container-savfilterselectors LI.button{
  float:right;
  margin:8px 5px 0 0;
}
.tx-savfilterselectors-pi1 .container-savfilterselectors A{
  background-color:inherit; 
  text-decoration:none;
  font-weight:bold;
}
.tx-savfilterselectors-pi1 .container-savfilterselectors A.aRegular{
  color:#4176FF;
}
.tx-savfilterselectors-pi1 .container-savfilterselectors A.aSelected{
  color:#841212;
}
.tx-savfilterselectors-pi1 .container-savfilterselectors A.aRegular:hover, .tx-savfilterselectors-pi1 .container-savfilterselectors A.aSelected:hover {
  color:#841212;
  text-decoration:underline;    
}   
