{namespace sav=SAV\SavLibraryKickstarter\ViewHelpers}

<f:alias map="{section:'emconf'}">
	<f:alias map="{sectionItems:'{extension->sav:getItem(key:section)}'}">
		<f:alias
			map="{
            sectionItem:'{sectionItems->sav:getItem(key:itemKey)}',
            libraryType:'{sav:getItem(
                value:{
                    0:\'\',
                    1:\'sav_library_plus\',
                    2:\'sav_library_mvc\',
                    3:\'\'},
                key:extension.general.1.libraryType)}'           
        }">
			<div id="{section}Section">
				<f:form method="post" action="save" name="{section}"
					arguments="{extKey:extKey, section:section, itemKey:itemKey}">
					<f:form.hidden name="general[section]" value="{section}" />
					<f:form.hidden name="general[itemKey]" value="{itemKey}" />
					<div id="content">

						<f:comment>Header</f:comment>
						<f:render partial="Sections/Partials/Header" arguments="{_all}" />

						<div class="body">
							<f:comment>Item title</f:comment>
							<f:render partial="Sections/Partials/ItemTitle"
								arguments="{_all}" />

							<f:comment>Vendor name</f:comment>
							<label for="pluginTitle"><f:translate
									key="kickstarter.generalItem.vendorName" /></label>
							<f:form.textfield id="vendorName" name="general[vendorName]"
								value="{extension.general.1.vendorName}" />

							<f:comment>Plugin Title, saved in the general section</f:comment>
							<label for="pluginTitle"><f:translate
									key="kickstarter.generalItem.pluginTitle" /></label>
							<f:form.textfield id="pluginTitle" name="general[pluginTitle]"
								value="{extension.general.1.pluginTitle}" />

							<f:comment>Description</f:comment>
							<label for="description"><f:translate
									key="kickstarter.{section}Item.description" /></label>
							<f:form.textarea id="description" name="{section}[description]"
								value="{sectionItem.description}"
								rows="{sav:function(name:'countLines', arguments:sectionItem.description)}"
								cols="80" />

							<f:comment>State</f:comment>
							<label for="state"><f:translate
									key="kickstarter.{section}Item.state" /></label>
							<f:form.select id="state" name="{section}[state]"
								options="{
                                    alpha:'{f:translate(key:\'kickstarter.{section}Item.state.alpha\')}',
                                    beta:'{f:translate(key:\'kickstarter.{section}Item.state.beta\')}',
                                    stable:'{f:translate(key:\'kickstarter.{section}Item.state.stable\')}',
                                    experimental:'{f:translate(key:\'kickstarter.{section}Item.state.experimental\')}',
                                    test:'{f:translate(key:\'kickstarter.{section}Item.state.test\')}'
                                }"
								value="{sectionItem.state}" />

							<f:comment>Dependencies</f:comment>
							<label for="dependencies"><f:translate
									key="kickstarter.{section}Item.dependencies" /></label>
							<f:form.textfield id="dependencies"
								name="{section}[dependencies]"
								value="{f:if(condition:sectionItem.dependencies, then:sectionItem.dependencies, else:libraryType)}" />

							<f:comment>Author</f:comment>
							<label for="author"><f:translate
									key="kickstarter.{section}Item.author" /></label>
							<f:form.textfield id="author" name="{section}[author]"
								value="{sectionItem.author}" />

							<f:comment>Author Email</f:comment>
							<label for="author_email"><f:translate
									key="kickstarter.{section}Item.author_email" /></label>
							<f:form.textfield id="author_email"
								name="{section}[author_email]"
								value="{sectionItem.author_email}" />

							<f:comment>Library type, saved in the general section</f:comment>
							<label for="libraryType"><f:translate
									key="kickstarter.generalItem.libraryType" /></label>
							<f:form.hidden class="hidden" name="general[libraryType]"
								value="0" />
							<f:form.select id="libraryType" name="general[libraryType]"
								options="{
                                    0:'{f:translate(key:\'kickstarter.generalItem.libraryType.0\')}',
                                    1:'{f:translate(key:\'kickstarter.generalItem.libraryType.1\')}',
                                    2:'{f:translate(key:\'kickstarter.generalItem.libraryType.2\')}',
                                    3:'{f:translate(key:\'kickstarter.generalItem.libraryType.3\')}'          
                                }"
								value="{extension.general.1.libraryType}" />
							<f:form.submit class="submit" name="submitAction[load]"
								value="{f:translate(key:'kickstarter.load')}" />
							<f:form.submit class="submit" name="submitAction[overwrite]"
								value="{f:translate(key:'kickstarter.overwrite')}" />

							<f:comment>Compatibility</f:comment>
							<label for="compatibility"><f:translate
									key="kickstarter.generalItem.compatibility" /></label>
							<f:form.hidden name="general[compatibility]" value="0" />
							<f:form.select id="compatibility" name="general[compatibility]"
								options="{sav:buildOptionsForCompatibilitySelectorbox(libraryType:extension.general.1.libraryType)}"
								value="{extension.general.1.compatibility}" />

                            <f:comment>Add wizard plugin icon</f:comment>
                            <label for="addWizardPluginIcon"><f:translate
                                    key="kickstarter.generalItem.addWizardPluginIcon" arguments="{0:'icon_{extKey->sav:function(name:\'removeUnderscore\')}.png'}"/></label>
                            <f:form.hidden name="general[addPluginIcon]" value="0" />
                            <f:form.checkbox class="checkbox" id="addWizardPluginIcon"
                                name="general[addWizardPluginIcon]" value="1"
                                checked="{extension.general.1.addWizardPluginIcon}" />                         
                                
                            <f:comment>keepExtLocalConf flag</f:comment>
                            <label for="keepExtLocalConf"><f:translate
                                    key="kickstarter.generalItem.keepExtLocalConf" /></label>
                            <f:form.hidden name="general[keepExtLocalConf]" value="0" />
                            <f:form.checkbox class="checkbox" id="keepExtLocalConf"
                                name="general[keepExtLocalConf]" value="1"
                                checked="{extension.general.1.keepExtLocalConf}" />

							<f:comment>Debug Query flag</f:comment>
							<label for="debug"><f:translate
									key="kickstarter.generalItem.debug" /></label>
							<f:form.hidden name="general[debug]" value="0" />
							<f:form.checkbox class="checkbox" id="debug"
								name="general[debug]" value="1"
								checked="{extension.general.1.debug}" />

							<f:comment>Version</f:comment>
							<label for="debug"> <f:translate
									key="kickstarter.generalItem.version" />
							</label> <span class="left clearLeft">x</span>
							<f:form.checkbox class="version" name="general[version][x]"
								value="1" />
							<span class="left">.y</span>
							<f:form.checkbox class="version" name="general[version][y]"
								value="1" />
							<span class="left">.z</span>
							<f:form.checkbox class="version" name="general[version][z]"
								value="1" />
						</div>
					</div>
				</f:form>
			</div>
		</f:alias>
	</f:alias>
</f:alias>

