{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}

<f:alias map="{section:'forms'}">
	<f:alias map="{sectionItems:'{extension->sav:getItem(key:section)}'}">
		<f:alias
			map="{sectionItem:'{sectionItems->sav:getItem(key:itemKey)}'}">
			<div id="{section}Section">
				<f:form method="post" action="save" name="{section}"
					arguments="{extKey:extKey, section:section,itemKey:itemKey}">
					<f:form.hidden name="general[section]" value="{section}" />
					<f:form.hidden name="general[itemKey]" value="{itemKey}" />
					<div id="content">

						<f:comment>Header</f:comment>
						<f:render partial="Sections/Partials/Header" arguments="{_all}" />

						<div class="body">
							<f:comment>Item title</f:comment>
							<f:render partial="Sections/Partials/ItemTitle"
								arguments="{_all}" />

							<f:comment>Displayed if allowed</f:comment>
							<f:if condition="{isAllowed}">
								<f:comment>List View</f:comment>
								<div class="viewsDefinition">
									<label class="list" for="listView"><f:translate
											key="kickstarter.{section}Item.listView" /></label>
									<f:form.select id="listView" name="{section}[listView]"
										options="{options.list}" value="{sectionItem.listView}" />

									<f:form.checkbox class="checkbox" id="listViewNotCached"
										name="{section}[listViewNotCached]" value="1"
										checked="{sectionItem.listViewNotCached}" />
									<label class="clearNone" for="listViewNotCached"><f:translate
											key="kickstarter.{section}Item.listViewNotCached" /></label>
								</div>

								<f:comment>Single View</f:comment>
								<div class="viewsDefinition">
									<label class="single" for="singleView"><f:translate
											key="kickstarter.{section}Item.singleView" /></label>
									<f:link.action action="addNewViewWithCondition"
										arguments="{extKey:extKey, section:section, viewType:'singleView', itemKey:itemKey}">
										<f:image class="addNewViewWithCondition"
											src="{sav:getIcon(identifier:'actions-add')}"
											alt="{f:translate(key:'kickstarter.addNewViewWithCondition')}"
											title="{f:translate(key:'kickstarter.addNewViewWithCondition')}" />
									</f:link.action>
									<f:comment>The default Single View</f:comment>
									<f:form.select id="singleView" name="{section}[singleView]"
										options="{options.single}" value="{sectionItem.singleView}" />

									<f:form.checkbox class="checkbox" id="singleViewNotCached"
										name="{section}[singleViewNotCached]" value="1"
										checked="{sectionItem.singleViewNotCached}" />
									<label class="clearNone" for="singleViewNotCached"><f:translate
											key="kickstarter.{section}Item.singleViewNotCached" /></label>

									<f:comment>Single Views with Condition</f:comment>
									<f:for each="{sectionItem.viewsWithCondition.singleView}"
										as="viewWithCondition" key="viewWithConditionKey">
										<f:form.select
											name="{section}[viewsWithCondition][singleView][{viewWithConditionKey}][key]"
											options="{options.single}" value="{viewWithCondition.key}" />
										<f:form.textfield class="condition"
											name="{section}[viewsWithCondition][singleView][{viewWithConditionKey}][condition]"
											value="{viewWithCondition.condition}" />
										<f:link.action action="deleteViewWithCondition"
											arguments="{extKey:extKey, section:section, itemKey:itemKey, viewType:'singleView', viewWithConditionKey:viewWithConditionKey}">
											<f:image class="deleteViewWithCondition"
												src="{sav:getIcon(identifier:'actions-delete')}"
												alt="{f:translate(key:'kickstarter.delete')}"
												title="{f:translate(key:'kickstarter.delete')}" />
										</f:link.action>
									</f:for>
								</div>

								<f:comment>Edit View</f:comment>
								<div class="viewsDefinition">
									<label class="edit" for="editView"><f:translate
											key="kickstarter.{section}Item.editView" /></label>
									<f:link.action action="addNewViewWithCondition"
										arguments="{extKey:extKey, section:section, viewType:'editView', itemKey:itemKey}">
										<f:image class="addNewViewWithCondition"
											src="EXT:core/Resources/Public/Icons/T3Icons/actions/actions-add.svg"
											alt="{f:translate(key:'kickstarter.addNewViewWithCondition')}"
											title="{f:translate(key:'kickstarter.addNewViewWithCondition')}" />
									</f:link.action>
									<f:comment>The default Edit View</f:comment>
									<f:form.select id="editView" name="{section}[editView]"
										options="{options.edit}" value="{sectionItem.editView}" />
									<f:comment>
										<!-- Edit Views with Condition -->
									</f:comment>
									<f:for each="{sectionItem.viewsWithCondition.editView}"
										as="viewWithCondition" key="viewWithConditionKey">
										<f:form.select
											name="{section}[viewsWithCondition][editView][{viewWithConditionKey}][key]"
											options="{options.edit}" value="{viewWithCondition.key}" />
										<f:form.textfield class="condition"
											name="{section}[viewsWithCondition][editView][{viewWithConditionKey}][condition]"
											value="{viewWithCondition.condition}" />
										<f:link.action action="deleteViewWithCondition"
											arguments="{extKey:extKey, section:section, itemKey:itemKey, viewType:'editView', viewWithConditionKey:viewWithConditionKey}">
											<f:image class="deleteViewWithCondition"
												src="EXT:core/Resources/Public/Icons/T3Icons/actions/actions-delete.svg"
												alt="{f:translate(key:'kickstarter.delete')}"
												title="{f:translate(key:'kickstarter.delete')}" />
										</f:link.action>
									</f:for>
								</div>

								<f:comment>Special View</f:comment>
								<label class="special" for="specialView"><f:translate
										key="kickstarter.{section}Item.specialView" /></label>
								<f:form.select id="specialView" name="{section}[specialView]"
									options="{options.special}" value="{sectionItem.specialView}" />

								<f:comment>Query</f:comment>
								<label for="query"><f:translate
										key="kickstarter.{section}Item.query" /></label>
								<f:form.select id="query" name="{section}[query]"
									options="{options.query}" value="{sectionItem.query}" />

								<f:comment>Caching</f:comment>
								<label for="userPlugin"><f:translate
										key="kickstarter.{section}Item.userPlugin" /></label>
								<f:form.hidden name="{section}[userPlugin]" value="0" />
								<f:form.checkbox class="checkbox" id="userPlugin"
									name="{section}[userPlugin]" value="1"
									checked="{sectionItem.userPlugin}" />
							</f:if>
						</div>
					</div>
				</f:form>
			</div>
		</f:alias>
	</f:alias>
</f:alias>
