{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}
<f:layout name="KickstarterExtensionListLayout.html" />

<f:section name="content">
	<div id="extensionList">
		<div class="title">
			<ul>
				<li class="extensionName">{f:translate(key:'kickstarter.extensionList.extensionName')}</li>
			</ul>
		</div>

		<div class="body">
			<f:for each="{extensionList}" as="extension">
				<ul>
					<li class="extensionName"><f:link.action
							action="editExtension"
							arguments="{extKey:extension.general.1.extensionKey}">{extension.general.1.extensionKey}</f:link.action></li>
				</ul>
			</f:for>
		</div>
	</div>

	<f:alias map="{section:'emconf'}">
		<f:alias map="{sectionItem:'{extension.{section}.{itemKey}}'}">
			<div id="{section}Section">
				<f:form method="post" action="save" name="{section}"
					arguments="{extKey:extKey, section:section, itemKey:itemKey}">
					<f:form.hidden name="general[section]" value="{section}" />
					<f:form.hidden name="general[itemKey]" value="{itemKey}" />
					<div id="content">
						<div class="header">
							<div class="logo">
								<f:translate key="kickstarter.{section}SectionTitle" />
							</div>
							<div class="buttons">
								<f:form.submit class="submit" name="submitAction[copyExtension]"
									value="{f:translate(key:'kickstarter.save')}" />
							</div>
						</div>
						<div class="body">
							<f:comment>Copy the Extensionf</f:comment>
							<label><f:translate
									key="kickstarter.{section}Item.oldExtensionKey" /></label><span
								class="oldExtensionKey">{extKey}</span> <label
								for="newExtensionKey"><f:translate
									key="kickstarter.{section}Item.newExtensionKey" /></label>
							<f:form.textfield id="newExtensionKey" name="newExtKey" value="" />
						</div>
					</div>
				</f:form>
		</f:alias>
	</f:alias>
	</div>

</f:section>
