{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}
<f:layout name="KickstarterSectionLayout.html" />

<f:section name="menu">
	<f:render partial="Menus/Menu"
		arguments="{
            extKey:extKey, 
            extension:extension, 
            selectedItem:'emconf_{itemKey}',
            isAllowed:isAllowed
        }" />
</f:section>

<f:section name="content">
	<f:render partial="Sections/EmconfEditSection"
		arguments="{
            extKey:extKey, 
            extension:extension, 
            itemKey:itemKey, 
            fieldKey:fieldKey, 
            showFieldConfiguration:showFieldConfiguration, 
            folderLabels:folderLabels,
            isAllowed:isAllowed
        }" />
</f:section>

