{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}
<f:layout name="KickstarterExtensionListLayout.html" />

<f:section name="content">
	<div id="extensionList">
		<f:form name="extensionList" method="post"
			action="changeExtensionVersion">

			<div class="title">
				<ul>
					<li class="extensionName">{f:translate(key:'kickstarter.extensionList.extensionName')}</li>
					<li class="extensionVersion">{f:translate(key:'kickstarter.extensionList.extensionVersion')}</li>
					<li class="libraryVersion">{f:translate(key:'kickstarter.extensionList.libraryVersion')}</li>
					<li class="libraryType">{f:translate(key:'kickstarter.extensionList.libraryType')}</li>
					<li class="compatibility">{f:translate(key:'kickstarter.extensionList.compatibility')}</li>
					<li class="forms">{f:translate(key:'kickstarter.extensionList.forms')}</li>
					<li class="cache">{f:translate(key:'kickstarter.extensionList.cache')}</li>
					<li class="debugQueries">{f:translate(key:'kickstarter.extensionList.debugQueries')}</li>
					<li class="buttons"><f:link.action action="createExtension">
							<f:image class="createExtension"
								src="EXT:sav_library_kickstarter/Resources/Public/Icons/add.gif"
								title="{f:translate(key:'kickstarter.createExtension')}" />
						</f:link.action> <f:if condition="{extensionsNeedTobeUpgraded}">
							<f:link.action action="upgradeExtensions">
								<f:image class="upgradeExtensions"
									src="EXT:sav_library_kickstarter/Resources/Public/Icons/refresh.gif"
									alt="{f:translate(key:'kickstarter.upgradeExtensions')}"
									title="{f:translate(key:'kickstarter.upgradeExtensions')}" />
							</f:link.action>
						</f:if></li>
				</ul>
			</div>

			<div class="body">
				<f:for each="{extensionList}" as="extension">
					<ul>
						<li class="extensionName"><f:link.action
								action="editExtension"
								arguments="{extKey:extension.general.1.extensionKey}">{extension.general.1.extensionKey}</f:link.action></li>
						<f:if
							condition="{0:showExtensionVersionSelector} == {0:extension.general.1.extensionKey}">
							<f:then>
								<li
									class="{sav:buildClassForExtensionVersion(extensionKey:extension.general.1.extensionKey, extensionVersion:extension.emconf.1.version)}">
									<f:form.select name="extensionVersion"
										options="{sav:buildOptionsForExtensionVersionSelectorbox(extensionKey:extension.general.1.extensionKey)}"
										value="{extension.emconf.1.version}"
										additionalAttributes="{onchange: 'extensionList.submit()'}" />
									<f:form.hidden name="extensionKey"
										value="{extension.general.1.extensionKey}" />
								</li>
							</f:then>
							<f:else>
								<li
									class="{sav:buildClassForExtensionVersion(extensionKey:extension.general.1.extensionKey, extensionVersion:extension.emconf.1.version)}"><f:link.action
										action="selectExtensionVersion"
										arguments="{extKey:extension.general.1.extensionKey}">{extension.emconf.1.version}</f:link.action></li>
							</f:else>
						</f:if>
						<li
							class="libraryVersion {f:if(condition:'{extension.general.1.currentLibraryVersion} != {extension.general.1.libraryVersion}',then:'wrongVersion')}">{extension.general.1.libraryVersion}</li>
						<li class="libraryType"><f:image class="icon"
								src="EXT:sav_library_kickstarter/Resources/Public/Icons/Extension{f:translate(key:'kickstarter.generalItem.libraryType.{extension.general.1.libraryType}')}.svg"
								height="16" width="16" />{f:translate(key:'kickstarter.generalItem.libraryType.{extension.general.1.libraryType}')}</li>
						<li
							class="compatibility {f:if(condition:extension.general.1.wrongCompatibility,then:'wrongCompatibility')}">{settings.compatibility->sav:getItem(key:extension.general.1.compatibility)}</li>
						<li class="forms">
							<ul>
								<f:for each="{extension.forms}" as="form">
									<li>
										<div class="formName">{form.title}</div>
										<div class="cache">
											<f:if condition="{form.userPlugin} == 1">
												<f:image class="cacheChecked"
													src="EXT:sav_library_kickstarter/Resources/Public/Icons/ok.gif"
													alt="{f:translate(key:'kickstarter.checked')}"
													title="{f:translate(key:'kickstarter.checked')}" />
											</f:if>
										</div>
									</li>
								</f:for>
							</ul>
						</li>
						<li class="debugQueries"><f:if
								condition="{extension.general.1.debug}">
								<f:image class="debugQueriesChecked"
									src="EXT:sav_library_kickstarter/Resources/Public/Icons/warning.gif"
									alt="{f:translate(key:'kickstarter.checked')}"
									title="{f:translate(key:'kickstarter.checked')}" />
							</f:if></li>
						<li class="buttons"><f:comment>Edit extension</f:comment> <f:link.action
								action="editExtension"
								arguments="{extKey:extension.general.1.extensionKey}">
								<f:image class="editExtension"
									src="EXT:sav_library_kickstarter/Resources/Public/Icons/edit.gif"
									alt="{f:translate(key:'kickstarter.editExtension')}"
									title="{f:translate(key:'kickstarter.editExtension')}" />
							</f:link.action> <f:comment>Generate extension</f:comment> <f:link.action
								action="generateExtension"
								data="{toggle:'popover',content:'{f:translate(key:\'kickstarter.generating\')}'}"
								arguments="{extKey:extension.general.1.extensionKey}">
								<f:image class="installExtension"
									src="EXT:sav_library_kickstarter/Resources/Public/Icons/generate.gif"
									alt="{f:translate(key:'kickstarter.generateExtension')}"
									title="{f:translate(key:'kickstarter.generateExtension')}" />
							</f:link.action> <f:comment>Copy extension</f:comment> <f:link.action
								action="copyExtension"
								arguments="{extKey:extension.general.1.extensionKey}">
								<f:image class="copyExtension"
									src="EXT:sav_library_kickstarter/Resources/Public/Icons/copy.gif"
									alt="{f:translate(key:'kickstarter.copyExtension')}"
									title="{f:translate(key:'kickstarter.copyExtension')}" />
							</f:link.action> <f:comment>Install/uninstall extension</f:comment> <f:if
								condition="{extension.general.1.isLoadedExtension} == 1">
								<f:then>
									<f:link.action action="uninstallExtension"
										data="{toggle:'popover',content:'{f:translate(key:\'kickstarter.uninstalling\')}'}"
										arguments="{extKey:extension.general.1.extensionKey}">
										<f:image class="uninstallExtension"
											src="EXT:sav_library_kickstarter/Resources/Public/Icons/extensionUninstall.png"
											alt="{f:translate(key:'kickstarter.uninstallExtension')}"
											title="{f:translate(key:'kickstarter.uninstallExtension')}" />
									</f:link.action>
								</f:then>
								<f:else>
									<f:link.action action="installExtension"
										data="{toggle:'popover',content:'{f:translate(key:\'kickstarter.installing\')}'}"
										arguments="{extKey:extension.general.1.extensionKey}">
										<f:image class="installExtension"
											src="EXT:sav_library_kickstarter/Resources/Public/Icons/extensionInstall.png"
											alt="{f:translate(key:'kickstarter.installExtension')}"
											title="{f:translate(key:'kickstarter.installExtension')}" />
									</f:link.action>
								</f:else>
							</f:if> <f:comment>Download extension</f:comment> <f:link.action
								action="downloadExtension"
								arguments="{extKey:extension.general.1.extensionKey}">
								<f:image class="downloadExtension"
									src="EXT:sav_library_kickstarter/Resources/Public/Icons/extensionDownload.png"
									alt="{f:translate(key:'kickstarter.downloadExtension')}"
									title="{f:translate(key:'kickstarter.downloadExtension')}" />
							</f:link.action> <f:comment>Upgrade the extension</f:comment> <f:if
								condition="{extension.general.1.extensionMustbeUpgraded}">
								<f:link.action action="upgradeExtension"
									data="{toggle:'popover',content:'{f:translate(key:\'kickstarter.upgrading\')}'}"
									arguments="{extKey:extension.general.1.extensionKey}">
									<f:image class="upgradeExtension"
										src="EXT:sav_library_kickstarter/Resources/Public/Icons/refresh.gif"
										alt="{f:translate(key:'kickstarter.upgradeExtension')}"
										title="{f:translate(key:'kickstarter.upgradeExtension')}" />
								</f:link.action>
							</f:if></li>
					</ul>
				</f:for>
			</div>
		</f:form>
	</div>
</f:section>
