{namespace sav=SAV\SavLibraryKickstarter\ViewHelpers}
<f:layout name="KickstarterSectionLayout.html" />

<f:section name="menu">
	<f:render partial="Menus/Menu"
		arguments="{
            extKey:extKey, 
            extension:extension,
            selectedItem:'views_{itemKey}',
            isAllowed:isAllowed
        }" />
</f:section>

<f:section name="content">
	<f:render partial="Sections/ViewsSection"
		arguments="{
            extKey:extKey,
            extension:extension,
            itemKey:itemKey,
            options:options,
            isAllowed:isAllowed
        }" />
</f:section>

