/**
 * Default CSS - Extension 'SAV Filter Months'
 *
 * @author		Laurent Foulloy (yolf.typo3@orange.fr)
 * @version		1.0
 */

.tx-savfiltermonths-pi1{
	float:left;
	width:100%;
	margin-bottom:5px;  
}
.tx-savfiltermonths-pi1 .savFilter{
	float:left;
	width:inherit;
	margin:0;
	padding:0;  
} 
.tx-savfiltermonths-pi1 LI.error{
	background-color: inherit;
	color: red;
}       
.tx-savfiltermonths-pi1 .container-savfiltermonths{
	float:left;
	width:100%;
	text-align:center;
	background-color:#f1fbfd; 
	color:inherit;
	border:1px  #000099 solid; 
	margin:0 0 5px 0;
	padding:0;
}   
.tx-savfiltermonths-pi1 .container-savfiltermonths UL.months{
	list-style:none;
	padding:2px;    
	margin:0;
}    
.tx-savfiltermonths-pi1 .container-savfiltermonths LI.month{ 
	display:inline;
	vertical-align:baseline;
	background-image:none;
	padding:0 0 0 3px;     
	margin:0;
}      
.tx-savfiltermonths-pi1 .container-savfiltermonths LI.search{ 
	display:inline;
	vertical-align:baseline;
	background-image:none;
	padding:0;   
	margin:0;
}      
.tx-savfiltermonths-pi1 .container-savfiltermonths LABEL{
	display:none;
}
.tx-savfiltermonths-pi1 .container-savfiltermonths INPUT.searchButton{ 
	padding:0; 
	margin:0;
}      
.tx-savfiltermonths-pi1 .container-savfiltermonths INPUT.search_box_text{
	padding:0 0 0 10px; 
	margin:0;
}    
.tx-savfiltermonths-pi1 .container-savfiltermonths A.aRegular{
	background-color:inherit;
	color:#4176FF;
	text-decoration:none;
	font-weight:bold;
}
.tx-savfiltermonths-pi1 .container-savfiltermonths A.aSelected{
	background-color:inherit;
	color:#841212;
	text-decoration:none;
	font-weight:bold;
}
.tx-savfiltermonths-pi1 .container-savfiltermonths A.aRegular:hover, .tx-savfiltermonths-pi1 .container-savfiltermonths A.aSelected:hover{
	background-color:#fff0c0;
	color:#841212;
}   
