/* CSS Document */

.sav_library_example5_default .savLibraryPlus .singleView .hookHeader {font-size:14px; font-weight:bold;}
.sav_library_example5_default .savLibraryPlus .singleView ul.hookList  {clear:left;list-style: inside circle;}
.sav_library_example5_default .savLibraryPlus .singleView ul.hookList li {clear:left;}

