<f:layout name="Default.html" />

<f:section name="content">

		<ul>
			<f:for each="{values}" key="key" as="value">
				<f:if condition="{value.active}">
					<f:then>
						<li><f:link.action arguments="{selected:value.active,filter:filterContext.filter}" class="{f:if(condition:'{filterContext.selected}=={key}',then:'selected')}">{value.label}</f:link.action></li>
					</f:then>
					<f:else>
						<li>{value.label}</li>
					</f:else>
				</f:if>
			</f:for>
            <li><f:link.action arguments="{selected:'all',filter:filterContext.filter}" class="{f:if(condition:'{filterContext.selected}==\'all\'',then:'selected')}"><f:translate key="all" /></f:link.action></li>			

		<f:if condition="{addSearchBox}">
		    <li class="searchBox">
                <f:form>
                    <f:form.hidden name="filter" value="{filterContext.filter}" />
                    <label for="searchField"><f:translate key="searchBoxLabel" /></label>
                    <f:form.textfield name="searchValue" id="searchField" value="{filterContext.searchValue}" /> 
                    <f:form.button class="search" type="submit"><f:image src="EXT:sav_filters_mvc/Resources/Public/Images/search.png"/></f:form.button>
            </f:form>
            </li>	
		</f:if>
        </ul>		

</f:section>