<f:layout name="Default.html" />

<f:section name="content">
		<ul>
		<f:if condition="{addSearchBox}">
		    <li class="searchBox">
                <f:form>
                    <f:form.hidden name="filter" value="{filterContext.filter}" />
                    <f:render partial="SearchBox.html"
                        arguments="{filterContext:filterContext}" />
                    <f:render partial="SubmitButton.html"
                        arguments="{filterContext:filterContext}" />    
            </f:form>
            </li>	
		</f:if>
        </ul>		
</f:section>