/* CSS Document */

.sav_library_example1_contact .savLibraryPlus .listView .titleBar {background-color:orange;}
.sav_library_example1_contact .savLibraryPlus .listView .items {background-color:white;}
.sav_library_example1_contact .savLibraryPlus .listView .items .item {background-color:white;}

