/* CSS Document */


.sav_library_example8_user .savLibraryPlus .listView {width:62px;background-color:#ffffff;}
.sav_library_example8_user .savLibraryPlus .listView .titleBar {display:none;}
.sav_library_example8_user .savLibraryPlus .listView .items .item {border:none;background-color:#ffffff;}

