<?xml version="1.0" encoding="utf-8"?>
<jpgraph>

  <marker id='pid'>
    <setMarker value="RECORD_STORAGE" />
  </marker>

  <!-- Define a query to initialize the @row SQL variable -->
  <query id="init">
    <select>@row:=-1</select>
    <from>tx_savlibraryexample9</from>
  </query>
  <!-- Process it -->
  <typo3>
    <processQuery queryId="init" />
  </typo3>

  <!-- define the query for the barConfig -->
  <query id="barConfig">
    <select>
      @row:=@row+1 AS num,
      title,
      from_unixtime(begin),
      from_unixtime(end)
    </select>
    <from>tx_savlibraryexample9</from>
    <where>NOT tx_savlibraryexample9.deleted AND
      NOT tx_savlibraryexample9.hidden AND
      tx_savlibraryexample9.pid = ###marker#pid### AND
      (
      (from_unixtime(begin) BETWEEN '###marker#begin###' AND '###marker#end###') OR
      (from_unixtime(end) BETWEEN '###marker#begin###' AND '###marker#end###') OR
      (from_unixtime(begin) &lt; '###marker#begin###' AND
       from_unixtime(end) &gt; '###marker#end###')
      )
    </where>
    <orderby>begin</orderby>
  </query>
  <!-- Process it -->
  <typo3>
    <processQuery queryId="barConfig" />
  </typo3>

  <!-- define the query for the colorConfig -->
  <query id="colorConfig">
    <select>color</select>
    <from>tx_savlibraryexample9, tx_savlibraryexample9_category</from>
    <where>tx_savlibraryexample9.category=tx_savlibraryexample9_category.uid AND
      NOT tx_savlibraryexample9.deleted AND
      NOT tx_savlibraryexample9.hidden AND
      tx_savlibraryexample9.pid = ###marker#pid### AND
      (
      (from_unixtime(begin) BETWEEN '###marker#begin###' AND '###marker#end###') OR
      (from_unixtime(end) BETWEEN '###marker#begin###' AND '###marker#end###') OR
      (from_unixtime(begin) &lt; '###marker#begin###' AND
       from_unixtime(end) &gt; '###marker#end###')
      )
    </where>
    <orderby>begin</orderby>
  </query>
  <!-- Process it -->
  <typo3>
    <processQuery queryId="colorConfig" />
  </typo3>
  
  <!-- Set the data -->
  <data id="userBarConfig">
    <setDataFromArray ref="query#barConfig" />
  </data>

  <data id="userBarColorConfig">
    <setDataFromQuery ref="query#colorConfig" field="color" />
  </data>

  <!-- load and process the graph template -->
  <template id="template">typo3conf/ext/sav_library_example9/Resources/Private/Files/eventsTemplate.xml</template>

</jpgraph>
