{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}


<div class="header">
	<div class="logo">
		<f:translate key="kickstarter.{section}SectionTitle" />
	</div>
	<div class="buttons">
        <f:comment>Help button</f:comment>
		<sav:be.buttons.help key="{section}" />

        <f:comment>Save button</f:comment>
		<f:form.button class="submit" name="submitAction[save]"
			data="{toggle:'popover',content:'{f:translate(key:\'kickstarter.saving\')}'}"
			value="{f:translate(key:'kickstarter.save')}">
			<f:image src="{sav:getIcon(identifier:'actions-save')}"
				alt="{f:translate(key:'kickstarter.save')}"
				title="{f:translate(key:'kickstarter.save')}" />
		</f:form.button>

        <f:comment>Generate button</f:comment>		
		<f:form.button class="submit" name="submitAction[generateExtension]"
			data="{toggle:'popover',content:'{f:translate(key:\'kickstarter.generating\')}'}"
			value="{f:translate(key:'kickstarter.generate')}">
			<f:image class="installExtension"
				src="{sav:getIcon(identifier:'actions-system-refresh')}"
				alt="{f:translate(key:'kickstarter.generateExtension')}"
				title="{f:translate(key:'kickstarter.generateExtension')}" />
		</f:form.button>
	</div>
</div>
