{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}

<f:comment>Adds the folder tabs</f:comment>
<div class="folderTabs">
	<ul class="folderTabs">
		<f:alias
			map="{view:'{extension.views->sav:getItem(key:sectionItemViewKey)}'}">
			<f:for each="{view.folders}" as="folder" key="folderKey">
				<li
					class="{f:if(condition:'{folderKey} == {sectionItem.folderKeys->sav:getItem(key:sectionItemViewKey)}', then:'currentTab')}">
					<f:link.action action="changeFolder"
						arguments="{extKey:extKey, section:section, itemKey:itemKey, viewKey:sectionItem.viewKey, folderKey:folderKey}">
						<span class="">{folder.label}</span>
					</f:link.action>
				</li>
			</f:for>
		</f:alias>
	</ul>
</div>
