/**
 * Default CSS - Extension 'SAV Filter Search'
 *
 * @author		Laurent Foulloy (yolf.typo3@orange.fr)
 * @version		1.0
 */

.tx-savfiltersearch-pi1{
  float:left;
  width:100%;
  margin-bottom:5px;  
}
.tx-savfiltersearch-pi1 .savFilter{
  float:left;
  width:100%;
  margin:0;
  padding:0;  
}
.tx-savfiltersearch-pi1 LI.error{
	background-color: inherit;
	color: red;
}       
.tx-savfiltersearch-pi1 .container-savfiltersearch{
	float:left;
	width:100%;
	text-align:center;
	background-color:#f1fbfd; 
	color:inherit;
	border:1px  #000099 solid; 
	margin:0 0 5px 0;
	padding:0;
}    
.tx-savfiltersearch-pi1 .container-savfiltersearch UL.search{
	background-color:#f1fbfd; 
	color:inherit;
	list-style:none;
	padding:2px;    
	margin:0;
}    
.tx-savfiltersearch-pi1 .container-savfiltersearch LI.search{
	display:inline;
	vertical-align:baseline;
	background:none;
	padding:0;   
	margin:0;
}      
.tx-savfiltersearch-pi1 .container-savfiltersearch LABEL{
	display:none;
}
.tx-savfiltersearch-pi1 .container-savfiltersearch INPUT.searchButton{
  display:inline;
  padding:0; 
  margin:0 0 -3px 0;
}      
.tx-savfiltersearch-pi1 .container-savfiltersearch INPUT.search_box_text{
  display:inline;
  padding:0 0 0 10px; 
  margin:0;
  width:150px;  
}    


