/**
 * Default CSS - Extension 'SAV Filter Search'
 *
 * @author		Yolf (yolf.typo3@orange.fr)
 * @version		0.0
 */

    .tx-savfiltersearch-pi1 LI.error {
      background-color: inherit;
      color: red;
    }       
    .tx-savfiltersearch-pi1 DIV.container-savfiltersearch {
      float:left;
      width:100%;
      text-align:center;
      background-color: #f1fbfd; 
      color: inherit;
      border: 1px  #000099 solid; 
      margin: 0px 0px 5px 0px;
      padding: 0px;
    }    
    .tx-savfiltersearch-pi1 DIV.container-savfiltersearch UL.search {
      background-color: #f1fbfd; 
      color: inherit;
      list-style: none;
      padding: 2px;    
      margin: 0px;
     }    
    .tx-savfiltersearch-pi1 DIV.container-savfiltersearch LI.search {
      display: inline;
      vertical-align: baseline;
      background: none;
      padding: 0px 0px 0px 0px;   
      margin: 0px;
    }      
    .tx-savfiltersearch-pi1 DIV.container-savfiltersearch LABEL {
      display:none;
    }
    .tx-savfiltersearch-pi1 DIV.container-savfiltersearch INPUT.searchButton {
      padding: 0px; 
      margin: 0px;
    }      
    .tx-savfiltersearch-pi1 DIV.container-savfiltersearch INPUT.search_box_text {
      padding: 0px 0px 0px 10px; 
      margin: 0px;
    }    


