/* CSS Document */
.sav_meetings_meetings .savLibraryPlus .listView .date {width:150px;}
.sav_meetings_meetings .savLibraryPlus .listView .category {width:300px;}
.sav_meetings_meetings .savLibraryPlus .singleView .subform {border:0px;}
.sav_meetings_meetings .savLibraryPlus .singleView .subform .items {border-top:2px #000099 solid;border-bottom:2px #000099 solid;}

