/**
 * Default CSS - Extension 'SAV Filter Page Access'
 *
 * @author		Yolf (yolf.typo3@orange.fr)
 * @version		0.0
 */

    .tx-savfilterpageaccess-pi1 {
      background-color: inherit;
      color: #004898;
    }     
    .tx-savfilterpageaccess-pi1 .tx-srfreecap-pi2-cant-read {
      background-color: inherit;
      color: inherit;
    }   
    .tx-savfilterpageaccess-pi1 .email_succeeded {
      font-weight:bold;
    }             
    
