/**
 * Default CSS - Extension 'SAV Filter Page Access'
 *
 * @author		Yolf (yolf.typo3@orange.fr)
 * @version		1.0
 */

.tx-savfilterpageaccess-pi1{
  float:left;	
  width:100%;
	background-color:inherit;
	color:#004898;
	margin-bottom:5px;  	
}
.tx-savfilterpageaccess-pi1 .savFilter{
  float:left;	
	background-color:inherit;
	color:#004898;
}
.tx-savfilterpageaccess-pi1 .container-savfilterpageaccess{
  float:left;	
}   
.tx-savfilterpageaccess-pi1 .tx-srfreecap-pi2-cant-read{
	background-color:inherit;
	color:inherit;
}   
.tx-savfilterpageaccess-pi1 .email_succeeded{
	font-weight:bold;
}             
    
