/* CSS Document */

.sav_library_example7_form .sav-library-messages .message{display:none;}
.sav_library_example7_form .savLibraryPlus .listView {width:auto;background-color:#ffffff;}
.sav_library_example7_form .savLibraryPlus .listView .items .item {border:none;background-color:#ffffff;}
.sav_library_example7_form .savLibraryPlus .formView {float:left;clear:left;width:auto;border:none;background-color:#ffffff;}
.sav_library_example7_form .savLibraryPlus .formView .label {float:left;clear:left;}
.sav_library_example7_form .savLibraryPlus .formView .field {float:left;clear:left;}
.sav_library_example7_form .savLibraryPlus .formView .titleBar {display:none;}
.sav_library_example7_form .savLibraryPlus .formView .footer {display:none;}
.sav_library_example7_form .savLibraryPlus .formView .items .item {width:auto;border:none;background-color:#ffffff;}
.sav_library_example7_form .savLibraryPlus .formAdminView {float:left;clear:left;width:auto;border:none;background-color:#ffffff;}
.sav_library_example7_form .savLibraryPlus .formAdminView .label {float:left;clear:left;}
.sav_library_example7_form .savLibraryPlus .formAdminView .field {float:left;clear:left;}
.sav_library_example7_form .savLibraryPlus .formAdminView .titleBar {display:none;}
.sav_library_example7_form .savLibraryPlus .formAdminView .footer {display:none;}
.sav_library_example7_form .savLibraryPlus .formAdminView .items .item {width:auto;border:none;background-color:#ffffff;}
.sav_library_example7_form .savLibraryPlus .colLeft {float:left;}
.sav_library_example7_form .savLibraryPlus .colRight {float:left;}

.sav_library_example7_list .savLibraryPlus .listView {width:auto;border:none;background-color:#ffffff;}
.sav_library_example7_list .savLibraryPlus .listView .titleBar {display:none;}
.sav_library_example7_list .savLibraryPlus .listView .items .item {width:300px;clear:left; border:1px #ddeeee solid;background-color:#ffffff;margin-bottom:10px;padding:0px;}
.sav_library_example7_list .savLibraryPlus .colLeft {float:left;width:100px;}
.sav_library_example7_list .savLibraryPlus .colRight {float:left;width:200px;}
.sav_library_example7_list .savLibraryPlus .listView .name {background-color:#ddeeee;padding:2px 5px 2px 5px;font-weight:bold;}
.sav_library_example7_list .savLibraryPlus .listView .date {padding:2px 5px 2px 0px;font-style:italic;}
.sav_library_example7_list .savLibraryPlus .listView .website {padding:2px 5px 2px 5px;}
.sav_library_example7_list .savLibraryPlus .listView .email {padding:2px 5px 2px 5px;}
.sav_library_example7_list .savLibraryPlus .listView .message {padding:2px 5px 5px 5px;}
.sav_library_example7_list .savLibraryPlus .listView .comment {padding:2px 5px 2px 5px;}

.sav_library_example7_teaser .savLibraryPlus .listView {width:220px;border:1px #ddeeee solid;background-color:#ffffff;}
.sav_library_example7_teaser .savLibraryPlus .listView .items .item {border:none;background-color:#ffffff;;}
.sav_library_example7_teaser .savLibraryPlus .listView .titleBar {background-color:#ddeeee;}
.sav_library_example7_teaser .savLibraryPlus .listView .titleBar .titleLabel {color:#004898;font-size:100%;}
.sav_library_example7_teaser .savLibraryPlus .listView .name {padding:2px 2px 2px 2px;font-weight:bold;}
.sav_library_example7_teaser .savLibraryPlus .listView .date {padding:2px 5px 2px 0px;font-style:italic;}
.sav_library_example7_teaser .savLibraryPlus .listView .message {padding:2px 2px 5px 2px;}
.sav_library_example7_teaser .footer {display:none;}
