/* CSS Document */

.sav_library_example10_gallery .savLibraryPlus .listView .items .item {float:left;width:125px;height:105px;background-color:#ffffff;}
.sav_library_example10_gallery .savLibraryPlus .listView .image IMG {float:left;width:120px;height:100px;}

.sav_library_example10_gallery .savLibraryPlus .singleView .items .item {border:none;}
.sav_library_example10_gallery .savLibraryPlus .singleView .image {float:left;width:310px;}
.sav_library_example10_gallery .savLibraryPlus .singleView .subform {border:none;}
.sav_library_example10_gallery .savLibraryPlus .singleView .subform .footer {display:none;}
.sav_library_example10_gallery .savLibraryPlus .singleView .subform .items .item {border:none;}
.sav_library_example10_gallery .savLibraryPlus .singleView .info {float:left;width:200px;}
.sav_library_example10_gallery .savLibraryPlus .singleView .info .name .label {display:none;}
.sav_library_example10_gallery .savLibraryPlus .singleView .info .name .value {font-weight:bold;font-size:12px;margin-bottom:10px;}
.sav_library_example10_gallery .savLibraryPlus .singleView .info .description .label {display:none;}
.sav_library_example10_gallery .savLibraryPlus .singleView .info .description .value {font-style:italic;}
.sav_library_example10_gallery .savLibraryPlus .singleView .map {float:left;width:300px;}
.sav_library_example10_gallery .savLibraryPlus .singleView .map .value {width:300px;}
.sav_library_example10_gallery .savLibraryPlus .singleView .map DIV {background-color:transparent;}
.sav_library_example10_gallery .savLibraryPlus .singleView .map .tx-maps2 {float:none;}