{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}
<div class="label">
	<f:translate key="kickstarter.field.items.label" />
</div>
<div class="value">
	<f:translate key="kickstarter.field.items.value" />
</div>
<f:link.action action="addNewBoxItem"
	arguments="{extKey:extension.general.1.extensionKey, section:section, itemKey:itemKey, fieldKey:fieldKey}">
	<f:image class="addNewBoxItem"
	    src="EXT:sav_library_kickstarter/Resources/Public/Icons/add.gif"
		alt="{f:translate(key:'kickstarter.addNewBoxItem')}"
		title="{f:translate(key:'kickstarter.addNewBoxItem')}" />
</f:link.action>
<f:for each="{field.items}" as="item" key="key">
	<f:form.textfield class="itemLabel"
		name="{section}[fields][{fieldKey}][items][{key}][label]"
		value="{item.label}" />
	<f:form.textfield class="itemValue"
		name="{section}[fields][{fieldKey}][items][{key}][value]"
		value="{item.value}" />
	<f:link.action action="deleteBoxItem"
		arguments="{extKey:extension.general.1.extensionKey, section:section, itemKey:itemKey, fieldKey:fieldKey, boxItemKey:key}">
		<f:image class="deleteBoxItem"
		    src="EXT:sav_library_kickstarter/Resources/Public/Icons/delete.gif"
			alt="kickstarter.delete"
			title="{f:translate(key:'kickstarter.delete')}" />
	</f:link.action>
</f:for>


